.container {
    border-radius: 20px;
    background-color: #0079a7;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-height: 650px;
    min-height: 360px;
    color: white;
    border-style: solid;
    justify-content: center;
    padding: 20px;
    border-width: 2px;
}


.container h5{
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width: 768px ){
    .container h5{
        text-align: left;
    }
    .container{
        max-height: 800px;
        width: 300px;
        height: auto;
    }
}